<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Hello, world!</title>
    <style>
      body{
        background: linear-gradient(90deg, #FC466B, #3F5EFB);
        height: 120vh;
      }
      .sticky-header{
        position: fixed;
        top: 0;
        width: 99.5vw;
      }
            /* Hide scrollbar track */
      body::-webkit-scrollbar-track {
        background: transparent;
      }

      /* Define scrollbar thumb */
      body::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.3);
        /* border-radius: 20px; */
      }

      /* Define scrollbar hover state */
      body::-webkit-scrollbar-thumb:hover {
        background-color: rgba(0, 0, 0, 0.5);
      }

      /* Define scrollbar width and height */
      body::-webkit-scrollbar {
        width: 10px;
        height: 10px;
      }

      .thick{
        height: 3px !important; /* set the height to make it thicker */
  background-color: black; /* set a background color */
  border: none; /* remove any border */
      }

    </style>
  </head>
  <body>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-header">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="/home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/createPost">Create Posts</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/myPosts">My Posts</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/profile">My Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active">Assign Role</a>
              </li>
            </ul>
            <button class="btn" type="submit" style="background-color: #FC466B; color: #fff;" >Logout</button>
          </div>
        </div>
      </nav>

      <div class="display-3 fw-bolder mt-5 text-center">Users</div>
      <hr class='thick'>

      <% users.forEach( (elem, ind) => {  %>
      <div class="users container text-center">
        <div class="fs-4 fw-bolder mb-3">Name : <%= elem.username %></div>
        <div class="fs-4 fw-bolder mb-3">Email Id : <%= elem.email %></div>
        <button type="button" class="btn btn-dark" onclick="makeAdmin('<%= elem._id %>')">Make Admin</button>
        <hr class='thick'>
      </div>
      <% } ) %>


      <script>
        window.onscroll = function() {stickyHeader()};
        var header = document.querySelector(".sticky-header");
        var headerOffset = header.offsetTop;

        function makeAdmin(id)
        {
          fetch('http://localhost:9000/assignRole', {
            method : 'PUT',
            body : JSON.stringify({id}),
            headers : {
              'Content-Type' : 'application/json'
            }
          })
          .then(response => response.json())
          .then(data => { location.reload() })
          .catch(err => console.log(err))
        }

        function stickyHeader() {
          if (window.pageYOffset > headerOffset) {
            header.classList.add("sticky");
          } else {
            header.classList.remove("sticky");
          }
        }

      </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>